header {
    background-color: #8855aa;
    height: 60px;
    margin: -8px;
    text-align: center;
}

.header_img {
    height: 28px;
    margin: 16px 25px;
}

.main {
    text-align: center;
    margin: 38px 0px;
}

h1 {
    color: #6d006d;
    margin: 20px 0px;
}

.answer {
    color: #444444;
}

table {
    margin: auto;
    border: 1px solid;
}

th, td {
    border: 1px solid;
}

.preview {
    width: 42px;
    height: 42px;
}

.errmsg {
    color: #FF0000;
}

footer {
    background-color: #eebbff;
    height: 40px;
    margin: -8px;
    text-align: center;
}

small {
    display: inline-block;
    margin: 10px;
}

/* ファイル選択ボタンの修飾 */
.file_input {
    display: inline-block;
    padding: 5px;
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    background-color: #8888ff;
    color: FFFFFF;
    box-shadow: #7f7f7f 2px 2px 1px;
    cursor: pointer;
}
.file_input:hover {
    background-color: #aaaaff;
}
.file_input:active {
    box-shadow: #7f7f7f 1px 1px 1px;
    position: relative;
    top: 1px; left: 1px;
}
.file_input input {
    display: none;
}
