header {
    background-color: #76B55B;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header-logo {
    color: #FFFFFF;
    font-size: 25px;
    margin: 15px 25px;
}

.header_img {
    height: 25px;
    margin: 15px 25px;
}

.main {
    height: 370px;
    text-align: center;
}

h2 {
    color: #444444;
    margin: 90px 0px;
}

.answer {
    color: #444444;
    margin: 30px 0px 30px 0px;
}

.errmsg {
    color: #FF0000;
    margin: 30px 0px 30px 0px;
}

footer {
    background-color: #F7F7F7;
    height: 110px;
    margin: -8px;
    position: relative;
}

.footer_img {
    height: 35px;
    margin: 15px 25px;
    position: absolute;
    left: 0px;
    top: 0px;
}

small {
    margin: 15px 25px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
