<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>画像で計算！？</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
    <script src="./static/preview.js"></script>
    </head>
<body>
    <header>
        <img class="header_img" src="./static/figure.png" alt="Aidemy">
    </header>

    <div class="main">    
        <h1>画像で計算！？</h1>
        <div class="answer">{{answer}}</div>
        <form method="POST" enctype="multipart/form-data">
            <!-- tableタグを用いて見やすくする -->
            <label class="file_input"><input type="file" id="num1" name="num1" onchange="preview_num1(this);" />数字画像を選択</label>
            <div id="preview_num1"></div>
            <input class="btn" value="画像で計算を実行" type="submit" />
        </form>
        {% with messages = get_flashed_messages() %}
            <div class="errmsg">
            {% for message in messages %}
                <p>
                    <div style="color:red;">{{message}}</div>
                </p>
            {% endfor %}
            </div>
        {% endwith %}
    </div>
    

    <footer>
        <small>&copy;z7402-tajima</small>   
    </footer>
</body>
</html>
